{% extends "base.html" %}

{% block body %}

<div class="container">

<div class="w3-container w3-padding-32" id="contact">

    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Please Login</h3>
    <br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p><b>{{message}}</b></p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <p>{{ attempted_username }}</p>
    <p>{{ attempted_password }}</p>

    <form action="" method="post">
      <input class="w3-input" type="text" placeholder="Username"  name="username" required name="" value="{{ request.form.username }}">
      <input class="w3-input" type="password" placeholder="Password"  name="password" required name="" value="{{ request.form.password }}">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> Login
      </button>
    </form>

    <p>{{ error }}</p>

</div>

</div>

{% endblock %}